.loading{
  display: none;
  text-align: center;
  font-size: 30px;
}

.lds-ring {
  display: block;
  position: relative;
  width: 500px;
  height: 500px;
  margin: auto;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 400px;
  height: 400px;
  margin: 8px;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border: 8px solid transparent;
  border-top-color: black;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#bulk-wrapper.load {
  .content{
    display: none;
  }
  .loading{
    display: block;
  }
}

.bulk-product {
  display: flex;
  align-items: center;
  border: 2px solid gray;
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 20px;

  h3{
    font-size: 18px;
    width: 25%;
  }

  img {
    width: 15%;
  }

  p.bulk-product__description {
    font-size: 12px;
    width: 40%;
    padding: 0 20px;
  }

  .price::before{
    content: "$";

  }

  input {
    width: 5%;
  }

  span {
    width: 15%;
    text-align: center;
  }

  a{
    max-width: 100px;

    img{
      width: 100%;
    }
  }
}

#bulk-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.modal-grave-open {
  display: block;
  visibility: visible;
  opacity: 1;
}

#modal-grave {
  height: 80vh;
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    select {
      width: 100px;
    }
  }

  .image-wrapper {
    position: relative;
    margin: 0 auto;
    width: 70%;
    min-width: 350px;
    display: flex;

    img{
      width: 100%;
      margin-top: auto;
    }
  }
}

.grave-canvas-container {
  position: absolute !important;
  border: 1px solid red;
}

.result-image {
  img {
    max-width: 300px;
  }
}

[data-product-option-change] {
  visibility: hidden;
  height: 0;
}
