---
brands:
---

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<section class="page" id="brandPage">
    <h1 class="page-heading">{{lang 'brand.label'}}</h1>
    {{{region name="brands_below_header"}}}
    <ul class="brandGrid content" id="brandsRendering">
    </ul>
    <div class="loading">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
    {{> components/common/paginator pagination.brands}}
    {{{region name="brands_below_content"}}}
</section>
{{/partial}}
{{> layout/base}}
